.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-jassy {
    animation: App-jassy-spin infinite 20s linear;
  }
}

.App-jassy {
  width: 100px;
  align-items: center;
  justify-content: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-jassy-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
