.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .avatarImage {
    animation: App-image-spin infinite 20s linear;
  }
}

/* .App-jassy {
  width: 100px;
  align-items: center;
  justify-content: center;
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-image-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: "radial-gradient(circle, rgba(238,174,202,1) 66%, rgba(148,187,233,1) 100%)";
}
body,
html {
  background: "radial-gradient(circle, rgba(238,174,202,1) 66%, rgba(148,187,233,1) 100%)";
}
@media screen and (min-width: 550px) {
  body {
    display: grid;
  }

}
@media screen and (min-width: 1000px) {
  body {
    display: grid;
  }
}
